@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/* MAIN CONTENT */

:root {
    --primary-color: #f10f20;
    /* custom variable */
}

* {
    box-sizing: border-box margin 0;
    padding: 0;
}

html,
body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #000000;
    font-size: 16px;
    /* default 16 */
}

h1 {
    font-size: 30px;
    font-weight: 900;
}

p {
    margin: 20px 0 10x 0;
    /* clock, top, right, bottom, left */
    font: 1.1rem;
    /* Relative to font-size of the root element */
    /* multiply by root element (16px*1.1) */
}

section {
    display: flex;
    /* flex-box - "elastic boxes" */
    height: 100vh;
    /* 1% of the height of the viewport */
    align-items: center;
    /* set it in center */
    padding: 100px;
}


/* BUTTON CONTENT */

.btn {
    cursor: pointer;
    /* little hover effect */
    display: inline-block;
    /* links are dislayed in-line by default (margin would not work)*/
    background: var(--primary-color);
    /* color as a variable */
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    /* 10px top and bottom, 30px left and right */
    margin: 10px 0px;
    border: 3px;
    border-color: black;
    border-style: outset;
}

.btn:hover {
    transform: scale(0.97);
    /* scale a little bit */
}


/* LOGO CONTENT */

.logo {
    position: absolute;
    /* position absolute so i can use top */
    top: 30px;
    left: 100px;
    font-size: 30px;
    z-index: 20;
    /* z-index, to be closer to me */
}


/* TOOGLE CONTENT */

.toggle {
    position: fixed;
    /* stay in the same position all the time */
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: var(--primary-color) url(../images/menu.png);
    /* background with an image */
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 20;
}

.toggle.active {
    background: var(--primary-color) url(../images/close.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}


/* NAVIGATION CONTENT */

.navigation {
    /*I have to cover everything*/
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 15;
    /* button still visible because of z-index 15*/
    display: flex;
    /* set position by the "flex" */
    justify-content: center;
    /* center width */
    align-items: center;
    /* center height */
    transition: 1.5s;
}

.navigation.active {
    left: 0;
    background-color: #9c9c9c;
    transition: 1.5s;
}

.navigation ul {
    position: relative;
}

.navigation ul li {
    position: relative;
    list-style: none;
    /* remove bullets */
    text-align: center;
}

.navigation ul li a {
    font-size: 2.2rem;
    color: #111;
    text-decoration: none;
    /* removes underline */
    font-weight: 300;
}

.navigation ul li a:hover {
    color: var(--primary-color)
}

.navigation .social-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation .social-bar a {
    display: inline-block;
    transform: scale(0.5);
}

.navigation .email-icon {
    position: absolute;
    bottom: 20px;
    transform: scale(0.5);
}

.navigation .mobile {
    display: none;
}


/* HOME CONTENT */

.home-content {
    position: relative;
    z-index: 10;
    max-width: 400px;
}

.home-img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 110%;
    transition: 2s;
    /* height depend on the height of the browser */
}


/* MEDIA QUERY */

@media(max-width: 1060px) {
    .home-img {
        opacity: 30%;
        transition: 2s;
        height: 80%;
    }
    .logo {
        top: 10px;
        left: 40px;
        font-size: 1.5rem;
    }
    section {
        padding: 100px 40px;
    }
    .navigation ul li a {
        font-size: 2rem;
    }
    .navigation .mobile {
        display: unset;
        position: absolute;
        bottom: 0;
        color: mediumturquoise;
        border: 2px solid;
        border-style: dotted;
        padding: 10px 10px;
        border-radius: 50%;
    }
}